# https://adamcoster.com/blog/pnpm-config
publish-branch=main
save-prefix=""

# https://pnpm.io/npmrc#link-workspace-packages
# always be explicit and use workspace:*
link-workspace-packages=false

# https://pnpm.io/npmrc#save-workspace-protocol
save-workspace-protocol=rolling
